<html>
<head>
  <title>Awesome Web Application!</title>
</head>
<body>
  <h1>Awesome site!</h1>
  <h3>Your notes:</h3>
  <ul>
    {{#notes}}
      <li>
        <a href="/note/{{id}}">
          {{title}}
        </a>
      </li>
    {{/notes}}
  </ul>

  <a href="/new">Create a note!</a>

</body>
</html>